.home-page > .site-content > h4
  margin-bottom: 40px

#weg-zu-islam
  margin-top: 40px
  padding: 60px 0

  .site-content
    margin-top: 0

    .col-12
      h4
        margin-bottom: 40px

#das-buch-home .site-content

  .accordion-tabs-minimal
    padding: 60px 0

  h4
    text-align: left

  img
    border: solid 1px $brand-bronze

  p
    text-align: left

  #tab3
    text-align: center
