body
  margin: 0
  font-family: $brand-font-2
  font-size: $font-size

#navigation-bar
  background: $brand-dark-gray

.site-content
  margin-top: 40px
  +outer-container(1024px)

.home
  .card-image
    img
      width: 100%
      height: auto

.uppercase
  text-transform: uppercase

.center-text
  text-align: center

nav
  .active
    background-color: red
